body {
}

.sprite {
    background-image: url("img/game.jpg");
}
.board {
    background-color : #77F;
    width: 622px;
    height: 622px;
    background-position: 0px 0px;
}
.board--empty {
    background-color: #000;
}

#players {
    margin-top:100px;
}
#players ul {
    margin: 0;
    padding:0;
    list-style : none;
}

.player {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    overflow: hidden;
    position:relative;
    border: 2px solid #525EA0;
    margin-top: -40px;
}
.player:nth-child(even)
{
    margin-left: 130px
}

    .player--current {
        box-shadow:0px 0px 20px rgba(85, 125, 203, 1), 0px 0px 20px rgba(85, 125, 203, 1), 0px 0px 20px rgba(85, 125, 203, 1)
    }
    /*TheKing*/
    .player__monster--0 {
        background-position: -743px -65px;
    }
    /*Mekadragon*/
    .player__monster--1 {
        background-position: -382px -168px;
        background-size: 1082px;
    }
    /*Alienoide*/
    .player__monster--2 {
        background-position: -568px  -153px;
        background-size: 1082px;
    }
    /*Kraken*/
    .player__monster--3 {
        background-position: -350px -21px;
        background-size: 745px;
    }
    /*Gigazaure*/
    .player__monster--4 {
        background-position: -1298px -266px;
        background-size: 1803px;
    }
    /*Cyberbunny*/
    .player__monster--5 {
        background-position: -782px -24px;
        background-size: 1126px;
    }

    .player__pseudo {
        position: relative;
        background-color:#fbe018;
        border: solid 3px #fc7725;
        margin-top: 54px;
        text-align: center;
        text-shadow: 1px 2px 2px #fbe018;
        width: 116px;
        height: 20px;
        line-height: 14px;
        z-index:2;
        border-radius:20px;
    }

    .player__attributes {
        width:120px;
        position:absolute;
        bottom:0;
        height:50px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 2px 2px #000;   
        text-align: center;
        list-style: none;
        margin:0;
        padding:0;

    }
    .player__attributes li {
        width: 33%;
        height:70px;
        float: left;
    }
    .player__hp {
        background-color: #cf3e1b;
    
    }

    .player__victory-point {
        background-color: #557dcb;
    }

    .player__energy {
        background-color: #31c152;
    }

.actions {
    list-style: none;
    padding: 0;
}

.actions__button {
    margin-top: 5px;
}

.action__title {

}

.action__jouer {

}

.action__fin {

}

.dices {
    padding: 0;
    list-style: none;
}

.dicesSelected {
    padding: 0;
    list-style: none;
}

.dice {
    float: left;
    height: 58px;
    width: 60px;
    margin: 5px;
}
.dice--1 {
        background-position: -1754px -554px;
}
.dice--2 {
        background-position: -1819px -554px;
}
.dice--3 {
        background-position: -1880px -554px;
}
.dice--hp {
        background-position: -2001px -554px;
}
.dice--attack {
        background-position: -2061px -554px;
}
.dice--energy {
        background-position: -1941px -554px;
}

#cesicity{
    top: 156px;
    left: 70px;
}
#cesibay {
    top: 420px;
    left: 400px;
}

.board__emplacement{
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 20px;
}
    /*THeking*/
    .board__monster--0 {
        background-position: -396px -24px;
        background-size: 1360px auto;
    }
    /*Mekadragon*/
    .board__monster--1 {
        background-position: -382px -168px;
        background-size: 1082px;
    }
    /*Alienoide*/
    .board__monster--2 {
        background-position: -568px  -153px;
        background-size: 1082px;
    }
    /*Kraken*/
    .board__monster--3 {
        background-position: -350px -21px;
        background-size: 745px;
    }
    /*Gigazaure*/
    .board__monster--4 {
        background-position: -1298px -266px;
        background-size: 1803px;
    }
    /*Cyberbunny*/
    .board__monster--5 {
        background-position: -782px -24px;
        background-size: 1126px;
    }
#modal--shopcart {
}
.modal--list-cart {
    list-style-type : none;
}
.cart {
    width : 198px;
    height: 275px;
    display: inline-block;
}
.cart--Tank {
    background-position: -590px -1450px;
}
.cart--Tramway {
    background-position:  -196px -1446px;
}
.cart--Soin {
    background-position:  -788px -1450px;
}
.cart--Cafe-Du-Coin {
    background-position:  -985px -1446px;
}
