@{
    ViewBag.Title = "King of CESI";
}

<div class="jumbotron">
    <h1>King of Cesi</h1>
    <p class="lead"></p>
    <p>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Jouer", "Index", "Game", routeValues: null, htmlAttributes: new { id = "joinLink", @class = "btn btn-primary btn-lg" })
        }
        else
        {
            @Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary btn-lg" })
       }
    </p>
</div>

